
/* Clean file for your awesome overrides, enable in the info file to use. */
#block-block-4, #block-block-1 {
	display: inline-block;
	width: 200px;
	color: red;
}
#block-views-shopping-cart-block {
	display: inline-block;
	float:right;
}
#block-block-1 {
	margin-left: 20px;
}
